/* backup color #f7f5dd;


*/


:root {
    --background-color: #e7dfd5;
    --text-color: #100303;
    --trim-color: #fcf8f3;
    --nav-link-color: ;
    --nav-link-hover-color: ;
    --font-size: 16px;
    --heading-size: 22px;
    --default-spacing: 4rem;
    --transition-speed: 400ms;

}



body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
}

/***************************** SCROLL BAR ******************************/

body::-webkit-scrollbar {
    width: .5rem;
}

body::-webkit-scrollbar-track {
    background-color: aquamarine;
}

body::-webkit-scrollbar-thumb {
    background-color: blueviolet;
}

h1,
h2 {
    margin-top: 0;
    padding-top: 5rem;
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color);
}

main {
    margin-left: 10rem;
}

/***************************** NAVBAR ******************************/

.mobile-navbar {
    display: none;
    position: fixed;
    background-color: var(--trim-color);
    height: 5rem;
    width: 100vw;
    transition: 200ms ease;
}

.mobile-navbar-nav {
    display: flex;
    list-style: none;
    
}

.mobile-link-header {
    height: 5rem;
    margin: 0;
        align-items: center;
        color: forestgreen;
        text-decoration: none;
        transition: var(--transition-speed);
        filter: grayscale(100%) opacity(.7);
    }


.mobile-logo-header {
    text-align: left;
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: .3ch;
}

.mobile-navbar-nav li {
    width: 30vw;
}



.mobile-home-header last-child {
    margin-right: 0;
    
    
}

.logo {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: .3ch;
}

.logo svg {
    transform: rotate(0deg);
    transition: transform var(--transition-speed);
}

.navbar:hover .logo svg {
    transform: rotate(-180deg);
}

.navbar {
    position: fixed;
    background-color: var(--trim-color);
    margin-top: 0;
    transition: 200ms ease;
}

.nav-item {
    width: 100%;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    margin: 0;
    color: forestgreen;
    text-decoration: none;
    transition: var(--transition-speed);
    filter: grayscale(100%) opacity(.7);
}

.nav-link:hover {
    filter: grayscale(0) opacity(1);
    width: 100%;
    background: blue;

}


.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link svg {
    min-width: 2rem;
    margin: 0 1.5rem;
}

.nav-link:hover {
    color: fuchsia;

}


/***************************** SMALL SCREENS ******************************/

@media only screen and (max-width: 600px) {

    h1 {

    padding-top: 7rem;
    }

    .navbar {
        bottom: 0;
        width: 100vh;
        height: 5rem;
    }
    
    .logo {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    main {
        margin: 0;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .nav-item:last-child {
        margin-top: none;
    }

    .mobile-navbar {
        display: block;

    }

}


/***************************** LARGE SCREENS ******************************/

@media only screen and (min-width: 600px) {
    .navbar {
        width: 5rem;
        height: 100vh;
    }

    .navbar:hover {
        width: 16rem;
    }
    
    .navbar:hover .link-text {
        display: block;
    }


}